{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Username: {{ object.username }}</h1>
          <p class="card-text"><strong>Primer nombre:</strong> {{ object.first_name }}</p>
          <p class="card-text"><strong>Apellido:</strong> {{ object.last_name }}</p>
          <p class="card-text"><strong>Email:</strong> {{ object.email }}</p>
          <p class="card-text"><strong>Activo:</strong> {{ object.is_active }}</p>
          <hr>
          <div class="text-center">
            <a href="{% url 'update_user' object.pk %}" class="btn btn-primary">Actualizar Datos</a>
            <a href="{% url 'delete_user' object.pk %}" class="btn btn-danger">Eliminar Usuario</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

