{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h1>GesPoli Home</h1>

  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Algunos datos del sistema:</h5>
      <ul class="list-group">
        <li class="list-group-item"><strong>Proyectos:</strong> {{ num_proyectos }}</li>
        <li class="list-group-item"><strong>Tareas:</strong> {{ num_storys }}</li>
        <li class="list-group-item"><strong>Número de proyectos iniciados:</strong> {{ num_proyectos_iniciados }}</li>
      </ul>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Visitas a esta página:</h5>
      <p class="card-text">Has visitado esta página {{ num_visits }}{% if num_visits == 1 %} vez{% else %} veces{% endif %}.</p>
    </div>
  </div>
</div>
{% endblock %}
