{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>To Do</h2>
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            {% for user_story in todo %}
            <li class="list-group-item">{{ user_story.nombre }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <h2>Doing</h2>
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            {% for user_story in doing %}
            <li class="list-group-item">{{ user_story.nombre }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <h2>Done</h2>
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            {% for user_story in done %}
            <li class="list-group-item">{{ user_story.nombre }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

