{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h1>Lista de proyectos</h1>

  {% if proyecto_list %}
  <ul class="list-group">
    {% for proyecto in proyecto_list %}
    <li class="list-group-item">
      <br>
      <a href="{{ proyecto.get_absolute_url }}">{{ proyecto.nombre }}</a> (Estado: {{proyecto.estado}})
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No hay proyectos que mostrar.</p>
  {% endif %}

  <a href="{% url 'proyecto_create' %}" class="btn btn-primary mt-3">Crear Proyecto</a>
</div>
{% endblock %}

