{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h1>Nombre: {{ object.nombre }}</h1>

    <div class="project-details">
      <p><strong>Descripción:</strong> {{ object.descripcion }}</p>
      <p><strong>Fecha de inicio:</strong> {{ object.fechaInicio }}</p>
      <p><strong>Fecha de fin:</strong> {{ object.fechaFin }}</p>
      <p><strong>Estado:</strong> {{ object.estado }}</p>
    </div>

    <h2>Usuarios del proyecto</h2>
    {% if usuarios_proyecto %}
      <ul class="user-list">
        {% for usuario_proyecto in usuarios_proyecto %}
          <li class="user-item">
            <span class="username">{{ usuario_proyecto.user.username }}</span>: {{ usuario_proyecto.rol.rol }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No hay usuarios que mostrar.</p>
    {% endif %}

    <a href="{% url 'agregar_usuario' proyecto.pk %}" class="btn btn-primary mt-3">Agregar Miembro</a>
    <hr>

    <div class="project-actions">
      <a href="{% url 'update_proyecto' proyecto.pk %}" class="btn btn-secondary">Actualizar Proyecto</a>
      <a href="{% url 'delete_proyecto' proyecto.pk %}" class="btn btn-danger">Eliminar Proyecto</a>
    </div>
  </div>

  <style>
    .container {
      margin-top: 20px;
    }

    .project-details {
      margin-bottom: 20px;
    }

    .user-list {
      list-style: none;
      padding: 0;
    }

    .user-item {
      margin-bottom: 10px;
    }

    .username {
      font-weight: bold;
      margin-right: 10px;
    }

    .project-actions {
      margin-top: 20px;
    }
  </style>
{% endblock %}

